* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.prevent-select {
    user-select: none;
}

a {
    text-decoration: none;
    color: #F39001;
}

a:hover {
    text-decoration: underline;
    color: #F33801;
}

body {
    background-color: #46546A;
}

header {
    margin-top: 20px;
    text-align: center;
    z-index: 5;
}

h1 {
    color: #ffffff;
}

h2 {
    margin-bottom: 15px;
}

#game-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 800px;
    height: 450px;
}

.treasure-div {
    position: relative;
    display: inline-block;
    width: 320px;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    z-index: 3;
    text-align: center;
}

.treasure-span {
    position: relative;
    padding: 5px;
    display: inline-block;
    background-color: rgba(255, 255, 0, 0);
    visibility: hidden;
    border-radius: 10px;
}

#prize-1 {
    position: relative;
}

#prize-2 {
    position: relative;
}

#prize-3 {
    position: relative;
}

#hint-message {
    text-align: center;
}

.hints {
    position: relative;
    z-index: 3;
    width: 200px;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    border-radius: 5px;
    background-color: #ffffff;
}

#game-area {
    position: relative;
    z-index: 2;
}

#start-message {
    display: inline-block;
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    z-index: 5;
    border-radius: 10px;
    background-color: #4598A5;
    text-align: center;
    padding: 5px;
}

#red-hot {
    background-color: #FB1300;
}

#win-message {
    display: inline-block;
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    z-index: 1;
    border-radius: 10px;
    background-color: #D65B21;
    text-align: center;
    padding: 5px;
}

.start-button {
    position: relative;
    width: 120px;
    height: 80px;
    border-radius: 10px;
    transform: translate(0, 0);
    margin: auto;
}

.button-area {
    position: fixed;
    height: 30%;
    width: 100%;
    bottom: 10px;
}

.misc-button {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    left: 10%;
}

#reset-button {
    background-color: rgba(255, 0, 0, 0.5);
    border-color: rgba(255, 0, 0, 0.5);
    width: 100px;
    visibility: visible;
    border-style: outset;
}

#dig-button {
    background-color: rgba(255, 0, 0, 0.5);
    border-color: rgba(255, 0, 0, 0.5);
}

.dir-button {
    width: 50px;
    height: 50px;
    transform: translate(-350%, -25px);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 1px;
    font-size: xx-small;
    border-style: outset;
}

.dir-button:active,
.misc-button:active {
    border-style: inset;
}

#misc-div {
    position: relative;
    display: inline-block;
    left: 5%;
    bottom: 0;
    width: 200px;
    height: 210px;
}

#dir-div {
    position: absolute;
    display: inline-block;
    left: 100%;
    bottom: 0;
    width: 195px;
}

footer {
    position: absolute;
    color: #ffffff;
    left: 50%;
    bottom: 0;
    font-size: small;
}

footer p {
    transform: translate(-50%, 0);
}

.hole-image {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hole-message {
    font-size: 8rem;
    color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -100%);
}

.hole-message-link {
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -30%);
}

/* media queries */
/* Small screens, laptops */
@media screen and (max-width: 1200px) {
    .misc-button {
        visibility: visible;
    }

    .dir-button {
        visibility: visible;
    }

    footer {
        font-size: xx-small;
    }
}

/* small screens, laptops */
@media screen and (max-width: 1024px) {
    .hole-message {
        font-size: 7rem;
    }
}

/* landscape phones, tablets */
@media screen and (max-width: 800px) {
    #game-area {
        left: 0px;
        top: 10%;
        transform: none;
    }

    .hole-message {
        font-size: 6rem;
    }

    .hole-message-link {
        font-size: 1rem;
    }
}

/* phones */
@media screen and (max-width: 480px) {
    #game-area {
        transform: scale(0.9);
    }

    h1 {
        font-size: large;
        z-index: 6;
    }

    .hole-message {
        font-size: 4rem;
    }
}

/* small phones */
@media screen and (max-width: 320px) {
    .hole-message {
        font-size: 2rem;
    }
}

@media screen and (max-height: 400px) {
    #game-area {
        transform: matrix(0.9, 0, 0, 0.9, 0, -50);

    }

    .dir-button {
        height: 40px;
    }

    .treasure-div {
        top: 12%;
    }

    .hints {
        top: 12%;
    }
}

@media screen and (max-height: 320px) {
    #game-area {
        transform: matrix(0.7, 0, 0, 0.7, 0, -100);
    }

    .dir-button {
        height: 35px;
    }

    .treasure-div {
        top: 10%;
    }

    .hints {
        top: 10%;
    }
}

@media screen and (max-height: 260px) {
    #game-area {
        transform: matrix(0.6, 0, 0, 0.6, 0, -120);
    }

    .dir-button {
        height: 30px;
    }

    .treasure-div {
        top: 8%;
    }

    .hints {
        top: 8%;
    }
}

@media screen and (orientation: landscape) {
    header {
        margin-top: 0;
    }

    #game-container {
        transform: translate(-50%, -5%);
    }

    #start-message {
        top: 31%;
    }

    #win-message {
        top: 31%;
        visibility: hidden;
    }

    .misc-button {
        width: 50px;
        height: 50px;
    }

    .dir-div {
        position: relative;

    }
}