* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #46546A;
}

header {
    margin-top: 20px;
    text-align: center;
}

#game-container {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 450px;
}

.treasure-div {
    position: relative;
    display: inline-block;
    width: 320px;
    left: 50%;
    top: 12%;
    transform: translate(-50%, 0);
    z-index: 3;
    text-align: center;
}

.treasure-span {
    position: relative;
    padding: 5px;
    display: inline-block;
    background-color: yellow;
    visibility: hidden;
    border-radius: 10px;
}

#prize-1 {
    position: relative;
}

#prize-2 {
    position: relative;
}

#prize-3 {
    position: relative;
}

#hint-message {
    text-align: center;
}

.hints {
    position: relative;
    z-index: 3;
    width: 200px;
    left: 50%;
    top: 15%;
    transform: translate(-50%, 0);
    border-radius: 5px;
}

#game-area {
    position: relative;
    z-index: 2;
}

#start-message {
    display: inline-block;
    position: absolute;
    width: 500px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    border-radius: 10px;
    background-color: aqua;
    text-align: center;
}

#win-message {
    display: inline-block;
    position: absolute;
    width: 500px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 10px;
    background-color: orangered;
    text-align: center;
}

#start-button {
    position: relative;


    transform: translate(-50%, 0);
    margin: auto;
}

.button-area {
    position: absolute;
    left: 50%;
    bottom: 20%;
}

.misc-button {
    position: relative;
    padding: 40px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    z-index: 4;
}

#reset-button {
    transform: translate(0, -100%);
    background-color: red;
}

#dig-button {
    transform: translate(0, 100%);
    background-color: red;
}

.dir-button {
    position: relative;
    border-radius: 10px;
    background-color: white;
    z-index: 4;
}




#left-button {
    transform: translate(-110%, 0);
}

#right-button {
    transform: translate(+110%, 0);
}

#up-button {
    transform: translate(0, -110%);
}

#down-button {
    transform: translate(0, +110%);
}

#up-left-button {
    transform: translate(-110%, -110%);
}

#up-right-button {
    transform: translate(+110%, -110%);
}

#down-left-button {
    transform: translate(-110%, +110%);
}

#down-right-button {
    transform: translate(+110%, +110%);
}

/* media queries */
/* Laptops, desktops */
@media screen and (max-width: 1920px) {}

/* Small screens, laptops */
@media screen and (max-width: 1200px) {}

/* small screens, laptops */
@media screen and (max-width: 1024px) {}

/* landscape phones, tablets */
@media screen and (max-width: 768px) {
    #game-area {
        left: 0px;
        top: 10%;
        transform: none;
    }
}


/* phones */
@media screen and (max-width: 480px) {}

/* small phones */
@media screen and (max-width: 320px) {}

/* below 200px width, canvas is cut off on right side*/